body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-heading {
    margin: 100px 0 0;
}

.site-section {
    border-top: 1px solid #e6e6e6;
    margin-top: 30px;
    padding-top: 30px;
}

.row {
    display: flex;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

[class*="col-"] {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
}

.col-2 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-4 {
    flex: 0 0 25%;
    max-width: 25%;
}

img {
    max-width: 100%;
}

li {
    margin-bottom: 30px;
}

p {
    margin-bottom: 30px;
}

.embed-iframe {
    width: 100%;
    height: 80vh;
    border: none;
    background: #f1f1f1;
    margin: 30px 0;
    border-radius: 12px;
}